@if(!isPhone && !isTablet){
<p-card class="center">
    
        <p-table [value]="certificates" [tableStyle]="{ 'min-width': '50rem' }">
            <ng-template #header>
                <tr>
                    <th>Naam certificaat</th>
                    <th>Organisatie</th>
                    <th>Behaald op</th>
                    <th>Verval datum</th>
                </tr>
            </ng-template>
            <ng-template #body let-certificate>
                <tr>
                    <td>{{ certificate.name }}</td>
                    <td>{{ certificate.organization }}</td>
                    <td>{{ certificate.achieved }}</td>
                    <td>{{ certificate.expiration }}</td>
                </tr>
            </ng-template>
         </p-table>

 
</p-card>
}

@if(isPhone || isTablet){
<p-card [ngClass]="{'width-phone': isPhone, 'center': isTablet}">
   @for(item of certificates; track item){
        <span><p class="label-font">Naam certificaat:</p><p>{{item.name}}</p></span>
        <span><p class="label-font">Organisatie:</p><p>{{item.organization}}</p></span>
        <span><p class="label-font">Behaald op:</p><p>{{item.achieved}}</p></span>
        <span><p class="label-font">Verval datum:</p><p>{{item.expiration}}</p></span>
        <p-divider/>
    }
</p-card>
}