@if(!isPhone && !isTablet){
<p-card class="center">
    
        <p-table [value]="certificates" [tableStyle]="{ 'min-width': '50rem' }">
            <ng-template #header>
                <tr>
                    <th>{{"certificates.certificate-name" | translate}}</th>
                    <th>{{"certificates.organisation" |translate}}</th>
                    <th>{{"certificates.obtained-on" |translate}}</th>
                    <th>{{"certificates.expiration-date" | translate}}</th>
                </tr>
            </ng-template>
            <ng-template #body let-certificate>
                <tr>
                    <td>{{ certificate.name }}</td>
                    <td>{{ certificate.organization }}</td>
                    <td>{{ certificate.achievedMonth | translate }} {{ certificate.achievedYear}}</td>
                    <td>{{ certificate.expirationMonth | translate }} @if (certificate.expirationYear != null) {{{certificate.expirationYear}}}</td>
                </tr>
            </ng-template>
         </p-table>

 
</p-card>
}

@if(isPhone || isTablet){
<p-card [ngClass]="{'width-phone': isPhone, 'center': isTablet}">
   @for(item of certificates; track item){
        <span><p class="label-font">Naam certificaat:</p><p>{{item.name}}</p></span>
        <span><p class="label-font">Organisatie:</p><p>{{item.organization}}</p></span>
        <span><p class="label-font">Behaald op:</p><p>{{item.achieved}}</p></span>
        <span><p class="label-font">Verval datum:</p><p>{{item.expiration}}</p></span>
        <p-divider/>
    }
</p-card>
}