<p-fieldset>
    <ng-template #header>
        <div class="flex items-center gap-2 px-2">
            <span class="label-font">{{course |translate}}</span>
        </div>
    </ng-template>
    <div class="card-span-margin">
        <span class="label-font">
           {{'general.where' | translate}}
        </span>
        @if (!isPhone) {
        <Span class="right">
            {{institute}} in {{location}}
        </Span>
    }
    </div>
      @if (isPhone){
        <br/>
        <div class="card-span-margin">
                 {{institute}} in {{location}}
        </div>
    }
    <br>
    <div class="card-span-margin">
        <span class="label-font">
             {{'general.when' | translate}}
        </span>
        @if (!isPhone) {
        <Span class="right">
            {{timespan}}
        </Span>
    }
    </div>
     @if (isPhone){
        <br/>
        <div class="card-span-margin">
                 {{timespan}}
        </div>
    }
    <br>
    <div class="card-span-margin">
        <span class="label-font">
            {{"education.degree" | translate}}
        </span>
        @if (!isPhone){
        <Span class="right">
            {{degree | translate}}
        </Span>
    }
    </div>
      @if (isPhone){
        <br/>
        <div class="card-span-margin">
                  {{degree | translate}}
        </div>
    }
    <br>
    <div class="card-span-margin">
           @if (!isPhone){
        <Span class="right">
            {{additionalInformation | translate}}
        </Span>
    }
    </div>
    @if (isPhone){
        <div class="card-span-margin">
                   {{additionalInformation | translate}}
        </div>
    }
</p-fieldset>
