.right {
    float: right;
}

.right-description {
    float: right;
    width: 75%;
    text-align:justify;
}

.label-font{
    font-weight: bold;
    float: left;
}

.card-span-margin{
    margin-top: 2%;
}