<p-fieldset>
    <ng-template #header>
        <div class="flex items-center gap-2 px-2">
            <span class="label-font">{{functionTitle | translate}}</span>
        </div>
    </ng-template>
    <div class="card-span-margin">
        <span class="label-font">
            {{'general.where' | translate}}
        </span>
        @if (!isPhone){
            <Span class="right">
                {{companyName}} in {{location}}
            </Span>
        }
    </div>
    @if (isPhone){
        <br/>
        <div class="card-span-margin">
                 {{companyName}} in {{location}}
        </div>
    }
    
    <br>
    <div class="card-span-margin">
        <span class="label-font">
           {{'general.when' | translate}}
        </span>
     @if (!isPhone){
        <Span class="right">
            {{timespan | translate}}
        </Span>
    }
    </div>
    @if (isPhone){
        <br/>
        <div class="card-span-margin">
                {{timespan | translate}}
        </div>
    }
    <br>
    <div class="card-span-margin">
        <span class="label-font">
           {{'work.activities' | translate}}
        </span>
        @if (!isPhone){
        <Span class="right-description">
            {{description | translate}}
        </Span>
    }
    </div>

       @if (isPhone){
        <br/>
        <div class="card-span-margin">
                {{description | translate}}
        </div>
    }
</p-fieldset>
