.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
    margin-top: 1%;
  }

.center-phone {
    display: block;
    margin-top: 1%;
  }

@media (any-pointer:coarse){
::ng-deep .p-timeline-event-opposite {
    display: none;
}
}  
